/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBannerFlex {
  /*min-height: 100vh;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.heroBannerFlex {
  min-height: calc(100vh - 10rem);
}